body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header, nav {
    display: inline-block;
}

header {
    width: 100%;
    height: 6vh;
    padding-top: 1vh;
    padding-left: 10vw;
    background-color: #DFDFDF;
}

header #logo {
    height: 52px;
    vertical-align: middle;
}

nav {
    margin-left: 30vw;
}

nav a {
    font-size: 16pt;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

nav .nav_separator {
    font-size: 16pt;
    color: #6F16DB;
    font-weight: normal;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

footer {
    position: fixed;
    width: 100%;
    height: 3vh;
    padding-top: 2vh;
    padding-left: 2vw;
    bottom: 0;
    background-color: #DFDFDF;
}

footer a {
    font-size: 12pt;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    margin-left: 20px;
}

#dashboard {
    position: relative;
    height: 87vh;
}

#dashboard #background {
    position: relative;
    background-color: #6F16DB;
    height: 60%;
    width: 70%;
}

#dashboard #background #button {
    position: absolute;
    top: 34vh;
    left: 23vw;
}

#dashboard #background #button #button_demo, #dashboard #background #button #button_contact {
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #000000;
    background-color: #08DBBB;
    margin-right: 2vw;
    padding: 14px 16px;
    text-align: center;
    font-weight: bold;
}

#dashboard #background #button #button_demo:hover, #dashboard #background #button #button_contact:hover {
    cursor: pointer;
}

#dashboard #screenshot {
    position: absolute;
    width: 200px;
    top: 25vh;
    left: 10vw;
    border-radius: 12px;
}

#dashboard #module {
    position: absolute;
    left: 25vw;
    top: 47vh;
}

#dashboard #module #staff, #dashboard #module #resident, #dashboard #module #city {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
    border-radius: 26px;
    margin-right:2vw;
}

#dashboard #module #staff:hover, #dashboard #module #resident:hover, #dashboard #module #city:hover {
    cursor: pointer;
}

#dashboard #module #staff {
    background-color: #08DBBB;
}

#dashboard #module #resident {
    background-color: #DB6F16;
}

#dashboard #module #city {
    background-color: #6F16DB;
}

#dashboard #module .title {
    display: block;
    margin-top: 2vh;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    color: #FFFFFF;
}

#dashboard #module .list {
    display: block;
    font-weight: bold;
    font-size: 16pt;
    color: #FFFFFF;
}

#about {
    position: relative;
    height: 87vh;
}

#about #background {
    position: relative;
    background-color: #08DBBB;
    height: 60%;
    width: 100%;
}

#about #banner #what, #about #banner #how, #about #banner #why {
    margin: 2vh 1vw 1vh 1vw;
    font-size:16pt;
}

#about #banner #what .head:hover, #about #banner #how .head:hover, #about #banner #why .head:hover {
    cursor: pointer;
    color: #FFFFFF;
}

#about #banner #what .head, #about #banner #how .head, #about #banner #why .head {
    border: 3px solid #000000;
    border-radius: 8px;
    padding: 8px 12px;
}

#about #banner #what .head {
    border-color: #DB6F16;
}

#about #banner #what .head:hover {
    background-color: #DB6F16;
}

#about #banner #how .head {
    border-color: #6F16DB;
}

#about #banner #how .head:hover {
    background-color: #6F16DB;
}

#about #banner #why .head {
    border-color: #08DBBB;
}

#about #banner #why .head:hover {
    background-color: #08DBBB;
}

#about #banner .text {
    display:none;
    border: 3px solid #000000;
    border-radius: 8px;
    margin-top: 1vh;
    padding: 8px 12px;
}

#about #banner #what .text {
    border-color: #DB6F16;
}

#about #banner #how .text {
    border-color: #6F16DB;
}

#about #banner #why .text {
    border-color: #08DBBB;
}

#intervention {
    position: relative;
    height: 87vh;
}

#intervention #background {
    position: relative;
    background-color: #DB6F16;
    height: 15%;
    width: 100%;
}

#intervention #module {
    position: absolute;
    top: 10vh;
}

#intervention #module #step1, #intervention #module #step2, #intervention #module #step3, #intervention #module #step4 {
    display: inline-block;
    width: 17vw;
    height: 60vh;
    border: 2px solid #000000;
    border-radius: 42px;
    margin-left: 5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

#intervention #module #step1 {
    background-color: #08DBBB;
}

#intervention #module #step2 {
    background-color: #6F16DB;
}

#intervention #module #step3 {
    background-color: #DB6F16;
}

#intervention #module #step4 {
    background-color: #6F16DB;
}

#intervention #module .title {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    margin-top: 3vh;
    margin-right: 1vw;
    margin-bottom: 2vh;
    color: #FFFFFF;
}

#intervention #module .text {
    font-size: 14pt;
    text-align: justify;
    margin-bottom: 6vh;
    color: #FFFFFF;
}
#intervention #module .more {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

#intervention #module .more a {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 8px 12px;
    color: #FFFFFF;
    text-decoration: none;
}

#intervention #module .more a:hover {
    cursor: pointer;
}

#intervention-0 {
    position: relative;
    height: 87vh;
}

#intervention-0 #background {
    position: relative;
    background-color: #DB6F16;
    height: 15%;
    width: 100%;
}

#intervention-0 #module-1, #intervention-0 #module-2, #intervention-0 #module-3, #intervention-0 #module-4 {
    position: absolute;
    top: 15vh;
    left: 1vw;
    width: 30vw;
    height: 60vh;
    border: 2px solid #000000;
    border-radius: 42px;
}

#intervention-0 #module-1 {
    background-color: #08DBBB;
}

#intervention-0 #module-2 {
    background-color: #6F16DB;
}

#intervention-0 #module-3 {
    background-color: #DB6F16;
}

#intervention-0 #module-4 {
    background-color: #6F16DB;
}

#intervention-0 #module-1 .head, #intervention-0 #module-2 .head, #intervention-0 #module-3 .head, #intervention-0 #module-4 .head  {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    margin-top: 3vh;
    color: #FFFFFF;
}
