<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headerfiles">
    </head>
    <body>
        <header th:fragment="header">
            <a th:href="@{/}"><img th:src="@{/image/logo.png}" id="logo" alt="logo" ></a>

            <nav>
                <a th:href="@{/about}">Qui sommes nous ?</a><span class="nav_separator">|</span>
                <a th:href="@{/intervention}">Nos interventions</a><span class="nav_separator">|</span>
                <a th:href="@{/experience}">Retour clients</a><span class="nav_separator">|</span>
                <a th:href="@{/contact}">Nous contacter</a>
            </nav>
        </header>

        <footer th:fragment="footer">
            <a th:href="@{/legal}">Mentions légales</a>
            <a th:href="@{/terms}">Conditions d'utilisation</a>
            <a th:href="@{/policy}">Cookies</a>
        </footer>
    </body>
</html>
