<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Qui sommes nous ?</title>
        <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>
    </head>

    <body>
        <header th:replace="fragments/components.html :: header"> </header>

        <section id="about">
            <div id="background"></div>

            <div id="banner">
                <div id="what">
                    <div class="head">
                        <span class="title">Ce que nous faisons</span>
                    </div>

                    <div class="body">
                        <div class="text">
                            Excogitatum est super his, ut homines quidam ignoti, vilitate ipsa parum cavendi ad colligendos rumores per Antiochiae latera cuncta destinarentur relaturi quae audirent. hi peragranter et dissimulanter honoratorum circulis adsistendo pervadendoque divites domus egentium habitu quicquid noscere poterant vel audire latenter intromissi per posticas in regiam nuntiabant, id observantes conspiratione concordi, ut fingerent quaedam et cognita duplicarent in peius, laudes vero supprimerent Caesaris, quas invitis conpluribus formido malorum inpendentium exprimebat.
                            <br />
                            Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.
                            <br />
                            Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina, non maturitate vel consiliis mitigabat, ut aliquotiens celsae potestates iras principum molliverunt, sed adversando iurgandoque cum parum congrueret, eum ad rabiem potius evibrabat, Augustum actus eius exaggerando creberrime docens, idque, incertum qua mente, ne lateret adfectans. quibus mox Caesar acrius efferatus, velut contumaciae quoddam vexillum altius erigens, sine respectu salutis alienae vel suae ad vertenda opposita instar rapidi fluminis irrevocabili impetu ferebatur.
                        </div>
                    </div>
                </div>

                <div id="how">
                    <div class="head">
                        <span class="title">Comment nous le faisons</span>
                    </div>

                    <div class="body">
                        <div class="text">
                            Excogitatum est super his, ut homines quidam ignoti, vilitate ipsa parum cavendi ad colligendos rumores per Antiochiae latera cuncta destinarentur relaturi quae audirent. hi peragranter et dissimulanter honoratorum circulis adsistendo pervadendoque divites domus egentium habitu quicquid noscere poterant vel audire latenter intromissi per posticas in regiam nuntiabant, id observantes conspiratione concordi, ut fingerent quaedam et cognita duplicarent in peius, laudes vero supprimerent Caesaris, quas invitis conpluribus formido malorum inpendentium exprimebat.
                            <br />
                            Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.
                            <br />
                            Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina, non maturitate vel consiliis mitigabat, ut aliquotiens celsae potestates iras principum molliverunt, sed adversando iurgandoque cum parum congrueret, eum ad rabiem potius evibrabat, Augustum actus eius exaggerando creberrime docens, idque, incertum qua mente, ne lateret adfectans. quibus mox Caesar acrius efferatus, velut contumaciae quoddam vexillum altius erigens, sine respectu salutis alienae vel suae ad vertenda opposita instar rapidi fluminis irrevocabili impetu ferebatur.
                        </div>
                    </div>
                </div>

                <div id="why">
                    <div class="head">
                        <span class="title">Pourquoi nous le faisons</span>
                    </div>

                    <div class="body">
                        <div class="text">
                            Excogitatum est super his, ut homines quidam ignoti, vilitate ipsa parum cavendi ad colligendos rumores per Antiochiae latera cuncta destinarentur relaturi quae audirent. hi peragranter et dissimulanter honoratorum circulis adsistendo pervadendoque divites domus egentium habitu quicquid noscere poterant vel audire latenter intromissi per posticas in regiam nuntiabant, id observantes conspiratione concordi, ut fingerent quaedam et cognita duplicarent in peius, laudes vero supprimerent Caesaris, quas invitis conpluribus formido malorum inpendentium exprimebat.
                            <br />
                            Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.
                            <br />
                            Thalassius vero ea tempestate praefectus praetorio praesens ipse quoque adrogantis ingenii, considerans incitationem eius ad multorum augeri discrimina, non maturitate vel consiliis mitigabat, ut aliquotiens celsae potestates iras principum molliverunt, sed adversando iurgandoque cum parum congrueret, eum ad rabiem potius evibrabat, Augustum actus eius exaggerando creberrime docens, idque, incertum qua mente, ne lateret adfectans. quibus mox Caesar acrius efferatus, velut contumaciae quoddam vexillum altius erigens, sine respectu salutis alienae vel suae ad vertenda opposita instar rapidi fluminis irrevocabili impetu ferebatur.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="fragments/components.html :: footer"></footer>

        <script>
            let what = document.getElementById('what');
            let how = document.getElementById('how');
            let why = document.getElementById('why');

            let whatHead = document.querySelector('#what .head');
            let howHead = document.querySelector('#how .head');
            let whyHead = document.querySelector('#why .head');

            let whatText = document.querySelector('#what .text');
            let howText = document.querySelector('#how .text');
            let whyText = document.querySelector('#why .text');

            let whatActive = 0;
            let howActive = 0;
            let whyActive = 0;

            what.addEventListener('click', function() {
                if((whatActive = (whatActive + 1) % 2) === 1) {
                    whatHead.style.backgroundColor = '#DB6F16';
                    whatHead.style.color = '#FFFFFF';
                    whatText.style.display = 'block';
                } else {
                    whatHead.style.backgroundColor = 'transparent';
                    whatHead.style.color = '#000000';
                    whatText.style.display = 'none';
                }
            });

            how.addEventListener('click', function() {
                if((howActive = (howActive + 1) % 2) === 1) {
                    howHead.style.backgroundColor = '#6F16DB';
                    howHead.style.color = '#FFFFFF';
                    howText.style.display = 'block';
                } else {
                    howHead.style.backgroundColor = 'transparent';
                    howHead.style.color = '#000000';
                    howText.style.display = 'none';
                }
            });

            why.addEventListener('click', function() {
                if((whyActive = (whyActive + 1) % 2) === 1) {
                    whyHead.style.backgroundColor = '#08DBBB';
                    whyHead.style.color = '#FFFFFF';
                    whyText.style.display = 'block';
                } else {
                    whyHead.style.backgroundColor = 'transparent';
                    whyHead.style.color = '#000000';
                    whyText.style.display = 'none';
                }
            });
        </script>
    </body>
</html>
