<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Accueil</title>
        <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>
    </head>

    <body>
        <header th:replace="fragments/components.html :: header"> </header>

        <section id="dashboard">
            <div id="background">
                <div id="button">
                    <span id="button_demo">Testez notre démo</span>
                    <span id="button_contact">Demander à être appelé</span>
                </div>
            </div>

            <img th:src="@{/image/screenshot.jpg}" id="screenshot" alt="screenshot">

            <div id="module">
                <div id="staff">
                    <span class="title">Mairie</span>
                    <ul class="list">
                        <li>Organiser</li>
                        <li>Faciliter</li>
                        <li>Economiser</li>
                    </ul>
                </div>

                <div id="resident">
                    <span class="title">Habitants</span>
                    <ul class="list">
                        <li>Organiser</li>
                        <li>Faciliter</li>
                        <li>Economiser</li>
                    </ul>
                </div>

                <div id="city">
                    <span class="title">Ville</span>
                    <ul class="list">
                        <li>Organiser</li>
                        <li>Faciliter</li>
                        <li>Economiser</li>
                    </ul>
                </div>
            </div>
        </section>

        <footer th:replace="fragments/components.html :: footer"></footer>
    </body>
</html>