<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Intervention</title>
        <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>
    </head>

    <body>
        <header th:replace="fragments/components.html :: header"> </header>

        <section id="intervention-0">
            <div id="background"></div>

            <div id="module-2">
                <div class="head">Une application sur mesure</div>
            </div>
        </section>

        <footer th:replace="fragments/components.html :: footer"></footer>
    </body>
</html>
