<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
      <meta charset="UTF-8" />
      <title>Intervention</title>
      <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>
    </head>

    <body>
        <header th:replace="fragments/components.html :: header"> </header>

        <section id="intervention">
            <div id="background"></div>

            <div id="module">
                <div id="step1">
                    <div class="title">Audit complet<br /><br /><br /></div>

                    <div class="text">
                        Un temps d’analyse du fonctionnement des processus interne et <b>du fonctionnement des structures par des spécialistes de l’administration publique</b>. Cette phase est la clef de voute du projet afin de pouvoir intégrer notre solution au plus prêt de la réalités opérationnelle.
                    </div>

                    <div class="more"><a th:href="@{/intervention-1}">En savoir plus</a></div>
                </div>

                <div id="step2">
                    <div class="title">Une application<br />sur mesure<br /><br /></div>

                    <div class="text">
                        Une application <b>sur mesure, calquée sur les besoins spécifique</b> de votre Mairie.
                        Cette application est <b>simple, légère et facilement adaptable</b> à tout changement d’organisation.<br /><br><br /><br />
                    </div>

                    <div class="more"><a th:href="@{/intervention-2}">En savoir plus</a></div>
                </div>

                <div id="step3">
                    <div class="title">Un plan de<br />comm'<br /><br /></div>

                    <div class="text">
                        Faire connaître l’application comme moyen de contact simple auprès des citoyens est le meilleur moyen de donner une image positive et de qualité de la mairie auprès.
                        Pour ce faire, nous vous accompagnons dans cette communication en vous donnant un kit de communication.
                    </div>

                    <div class="more"><a th:href="@{/intervention-3}">En savoir plus</a></div>
                </div>

                <div id="step4">
                    <div class="title">La<br />maintenance et<br />les rapports</div>

                    <div class="text">
                        Véritable baromètre de votre ville, l’application vous permet de sonder les habitants, de faire participer les citoyens et de prendre des décisions adéquat.
                        Nos rapports hebdomadaires vous donnent toutes les clefs pour comprendre et répondre aux enjeux de demain.
                    </div>

                    <div class="more"><a th:href="@{/intervention-4}">En savoir plus</a></div>
                </div>
            </div>
        </section>

        <footer th:replace="fragments/components.html :: footer"></footer>
    </body>
</html>
